############
# Secrets
############

POSTGRES_PASSWORD=

############
# Backend
############

BACKEND_APP_NAME=Education Management System
BACKEND_APP_ENV=development
BACKEND_DEBUG=true
BACKEND_SECRET_KEY=your-super-secret-key-change-in-production
BACKEND_PORT=8001
BACKEND_COOKIE_DOMAIN=localhost
BACKEND_COOKIE_SECURE=false
BACKEND_COOKIE_SAMESITE=lax
REDIS_PASSWORD=
REDIS_PORT=6379

############
# Database
############

POSTGRES_DB=postgres
POSTGRES_PORT=5432
PGADMIN_PORT=5050

# AWS S3 (dev & local only)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-1
AWS_S3_BUCKET=cms-user-uploads
