// @use "element_ui.scss";

// Custom Global Styles
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
}

:deep(.filter-form) {
  gap: 20px;

  .el-form-item {
    margin-right: 0;
    margin-bottom: 5px;
  }
}